.league-table {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    white-space: nowrap;
    text-shadow: 1px 1px black;
    background-color: #1c324e;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 10px;
    border-collapse: separate;
    cursor: pointer;
}

.league-title {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 2px 2px black;
}

.league-table tbody tr:hover td {
    /* color: rgb(255, 255, 255);
    background-color: #234169; */
    color: #5ba1f1;
}


.table-team-name {
    text-align: left;
}

.crest {
    width: 20px;
    min-height: 20px;
    max-height: 25px;
}
