.league-table {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    white-space: nowrap;
    /* text-shadow: 1px 1px black; */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #5ba1f1;
    border-radius: 2px;
    border-collapse: separate;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

.league-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.league-table tbody tr:hover td {
    color: #5ba1f1;
}


.table-team-name {
    text-align: left;
}

.crest {
    width: 20px;
    height: auto;
    margin-bottom: 2px;
}

table th {
    font-size: 0.8rem;
}

/* table td img{
    height: 100%;
    width: auto;
    margin: auto;
} */

@media (max-width: 600px) {

    html {
        font-size: 9px;
    }

    .crest {
        width: 10px;
        height: auto;
    }
}
