.select-css {
    display: block !important;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0 60px;
    color: #fff;
    background-color: #0c1f38;
    width: 260px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
}
.select-css::-ms-expand {
    display: none;
    color: #fff;
    background-color: #0c1f38;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    outline: none;
    color: #fff;
    background-color: #0c1f38;
}
.select-css option {
    font-weight:normal;
}

.navbar {
    background-color: #0c1f38 !important;
    display: flex;
    justify-content: center;
}


.search-btn {
    background-color: #0c1f38 !important;
    color: white;
    font-weight: bolder;
    display: block;
    border: none;
    margin: auto;
}

.search-btn:focus {
    background-color: #0c1f38 !important;
}

.search-btn:active {
    background-color: #0c1f38 !important;
    border: none;
}

.search-btn:
